@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../../node_modules/fumadocs-ui/dist/**/*.js';

* {
  box-sizing: border-box;
}

.dark {
  --color-fd-background: #060010 !important;
}

.bg-\[\#160000\] {
  background-color: #16000000;
}

p {
  line-height: 2rem;
  font-weight: 300;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
}

.hyperlink{
  color:#4c20c4
}

.defense-green,
.defense-green h3 {
  color: #67e480 !important;
}

.atack-red,
.atack-red h3 {
  color: #eb4242 !important;
}

.warn-yellow {
  color: #e6c120;
}

.cumstom-purple,
.cumstom-purple h3 {
  color: #802075 !important;
}

.neutral-gray,
.neutral-gray h3 {
  color: #4b475c !important;
}

.box-border {
  border: 1px solid rgba(229, 229, 229, 0.7);
  padding: 0.5rem;
  margin-top: 2rem;
}

.box-border.android {
  border: 1px solid rgba(63, 136, 231, 0.7);
}

.box-border h3 {
  margin-top: 0px;
}

.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-top: -4rem;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20vh;
}

.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.item-arma {
  /* border: 1px solid;
  border-color: white; */
  margin-bottom: 2rem;
  display: flex;
}

.item-arma .details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-arma .details-box summary {
  width: fit-content;
  order: 1;
  padding: 0.25rem 0.5rem;
  background-color: #111111;
}

.item-arma .details-box .sanfona {
  order: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #080808;
  gap: 2%;
}

.efeito-box {
  width: 30%;
  padding: 0.5rem;
  background-color: #111111;
}

@media (max-width: 768px) {
  .item-arma .details-box .sanfona {
    flex-direction: column;
    gap: 0.75rem;
  }

  .efeito-box {
    width: 100%;
  }
}

.item-arma * {
  border-color: white;
}

.item-arma img {
  margin: 0;
}

.item-arma .tag {
  font-size: 0.8rem;
  line-height: 1rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  background-color: #1c6cc7;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0rem 0.3rem;
  border-radius: 5px;
  flex-wrap: wrap;
}

.img-desc-hover {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  backdrop-filter: blur(5px);
  padding: 0.25rem 0.5rem;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  font-size: 0.9rem;
}

.img-desc-hover:hover {
  opacity: 1;
}

.credit {
  font-size: 0.8rem;
  float: inline-end;
  padding-top: 0.5rem;
}

.credit span {
  font-size: 0.9rem;
}

/* Fix callout icon */
.my-6.flex.flex-row.gap-2.rounded-lg.border.border-s-2.bg-fd-card.p-3.text-sm.text-fd-card-foreground {
  display: flex;
  align-items: center;
}
